{% extends 'home/base.html' %}
{% load static %}

{% block title %} Home - Welcome To CtoG! {% endblock title %}


{% block css %}
  <style type="text/css">
    div#text {
    text-align: justify;
    text-justify: inter-word;
    }

    li {
    text-align: left;
    padding: 0px;
    align: left;
    }

    #myCarousel {
    height: 380px;
    }
    #variants div {
    display: table-cell;
    height:230px;
    }
    .item > h2 {
    text-align: center;
    }
    img {
    vertical-align: middle;
    display: none;
    padding: 25px;
    border: 2px;
    width: 400px;
    height: 300px;
    }
    .carousel-control.left, .carousel-control.right {
    background-image: none
    }

    inner, .item, img, {
    height: 90%;
    }
  </style>
{% endblock %}



{% block content %}

  <div style="max-width: 800px;">
    <h2>About CtoG</h2>
    <div class="row">
      <div id='text' class="col-xs-6">
        CtoG is a Human Genome Analysis, Interpretation & Reporting platform. CtoG uses an intuitive ranking system to identify clinically relevant variants. CtoG annotates variants from multiple knowledge bases including Leucine Rich Bio’s Human Genome Variation Database (HGVD).
        <br /><br />
        Along with bioinformatics reports, CtoG outputs clinical reports which are customized for clinicians. The clinical report will contain relevant information that is needed to make clinical decisions. Clinical reports are tailored to provide highly ranked disease-causing or clinically pathogenic variants. The report will also contain variants related to pharmacogenomics.
        <br /><br />
        CtoG is still in its beta version. More updates will be added soon to make it a robust and consistent across all platforms. CtoG is being tested for HIPAA compliance. Please use CtoG for research data only, till all the compliances are met.
        <br /><br />
      </div>

      <div class="col-md-6" style="background-color: white;">
        <div id="myCarousel" class="carousel slide" data-interval="2000" data-ride="carousel">

          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <h2>Cloud Computing</h2>
              <img src="{% static 'pearl/images/slider/1.jpg' %}" />
            </div>
            <div class="item">
              <h2>Accurate Analysis</h2>
              <img src="{% static 'pearl/images/slider/2.jpg' %}" />
            </div>
            <div class="item">
              <h2>Clinical Reports</h2>
              <img src="{% static 'pearl/images/slider/3.jpg' %}" />
            </div>
          </div> <!-- end of carousel inner -->

          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>

    </div>
  </div>

  <br /><br /><br />
  <div>
    <div id="variants" class="row" style="display: table;  table-layout: fixed; ">
      <div class="col-xs-4" style="background-color: #5FB404;">
        <h3>Variant Calling</h3>
        CtoG uses Bowtie2 and Platypus to call variants. CtoG additionally uses its own proprietary algorithms to add an additional value to variant calling.
      </div>
      <div class="col-xs-4" style="background-color: #01A9DB;">
        <h3>Variant Annotation</h3>
        CtoG annotates variants from multiple publically available knowledge bases. CtoG also annotates variants from HGVD, an in-house database which contains manually curated variant information from scientific literature.
      </div>
      <div class="col-xs-4" style="background-color: #424242;  color: white;">
        <h3 font-color: white;>Variant Ranking</h3>
        Using proprietary ranking algorithm, CtoG ranks variants for clinical significance. Ranking is based on multiple factors, including curated literature, allele frequency and various bioinformatics scores. Ranking allows for easy identification of pathogenic variants.
      </div>
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br>
  </div>

  </div>  <!-- end of description -->
{% endblock content %}
