.tox/
trash
pearl/htmlcov/*
pearl/htmlcov/*.css
pearl/.coverage


*.pyc
.*.swp
*.*~
files/NewProject/
files/Report/
media/
Untitled0.ipynb
Untitled1.ipynb
.ipynb_checkpoints/
.coverage
htmlcov/
.cache/
Py Ch.ipynb
*.ipynb
#*
*.py#
backup/
*.log
*.pid
*.out
