.tox/
trash
pearl/htmlcov/*
pearl/.coverage
*.pyc
.*.swp
*.*~
files/NewProject/
files/Report/
media/
.ipynb_checkpoints/
.coverage
htmlcov/
.cache/
*.ipynb
#*
*.py#
*.log
*.pid
*.out
env_var.sh
todo.org
