amqp==1.4.6
anyjson==0.3.3
argh==0.26.1
argparse==1.2.1
autoflake==0.6.6
awesome-slugify==1.6
Babel==1.3
backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.3.2
billiard==3.3.0.19
cairocffi==0.6
CairoSVG==1.0.9
celery==3.1.17
certifi==14.05.14
cffi==0.8.6
chartkick==0.4.2
cov-core==1.14.0
coverage==3.7.1
cryptography==0.7
cssselect==0.9.1
Django==1.6.5
django-allauth==0.18.0
django-bootstrap3==4.8.2
django-bootstrap-form==3.1
django-bower==5.0.1
django-celery==3.1.10
django-chartjs==1.0
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.1
django-easy-pdf==0.1.0
django-email-as-username==1.6.7
django-extensions==1.3.8
django-floppyforms==1.2.0
django-google-charts==0.1.1
django-graphos==0.0.2a0
django-grappelli==2.5.3
django-guardian==1.2.2
django-jenkins==0.16.2
django-merchant==0.2
django-nose==1.2
django-nvd3==0.7.4
django-passwords==0.2.0
django-paypal==0.1.5
django-production-ready==0.0.2a0
django-qsstats-magic==0.7.2
django-registration==1.0
django-report-tools==0.2.2
django-sendgrid==1.0.1
django-shell-ipynb==0.3.0
django-simple-captcha==0.4.2
django-sslserver==0.14
django-supervisor==0.3.2
django-userena==1.3.0
django-vanilla-views==1.0.3
django-wkhtmltopdf==2.0.2
dnspython==1.11.1
docutils==0.12
easy-thumbnails==2.0.1
ecdsa==0.11
enum34==1.0.4
epc==0.0.5
eventlet==0.15.1
execnet==1.2.0
Fabric==1.9.0
factory-boy==2.4.1
fadapa==0.3.1
flake8==2.1.0
flower==0.7.3
fudge==1.0.3
futures==2.1.6
greenlet==0.4.3
gunicorn==19.1.1
honcho==0.5.0
html2text==2014.7.3
html5lib==0.999
httplib2==0.9
inotifyx==0.2.2
ipdb==0.8
ipython==2.1.0
jedi==0.8.1-final0
Jinja2==2.7.3
kombu==3.0.24
lxml==3.4.0
MarkupSafe==0.23
mccabe==0.2.1
meld3==1.0.0
mock==1.0.1
model-mommy==1.2.1
mod-wsgi==4.2.6
mod-wsgi-metrics==1.1.0
MySQL-python==1.2.5
nose==1.3.3
nosier==1.1
oauthlib==0.6.3
paramiko==1.14.0
pathtools==0.1.2
paypalrestsdk==1.6.2
pdfkit==0.4.1
pep8==1.5.7
Pillow==2.4.0
pisa==3.0.33
psutil==2.1.1
pudb==2014.1
py==1.4.22
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6.1
pyflakes==0.8.1
pygeoip==0.3.1
Pygments==1.6
pyinotify==0.9.4
pyliftover==0.3
pyOpenSSL==0.14
pyPdf==1.13
PyPDF2==1.23
Pyphen==0.9.1
pyrabbit==1.1.0
pytest==2.6.0
pytest-cache==1.0
pytest-cov==1.8.1
pytest-django==2.7.0
pytest-pep8==1.0.6
pytest-xdist==1.11
python-dateutil==2.2
python-nvd3==0.12.2
python-openid==2.2.5
pytz==2014.10
PyYAML==3.11
pyzmq==14.3.1
redis==2.10.3
regex==2014.08.28
reportlab==2.7
requests==2.3.0
requests-oauthlib==0.4.1
rope==0.10.2
rq==0.4.6
sexpdata==0.0.3
six==1.8.0
South==1.0.1
Sphinx==1.2.2
sphinxcontrib-fulltoc==1.0
sphinxcontrib-httpdomain==1.3.0
sqlparse==0.1.11
stevedore==0.15
supervisor==3.1.2
tinycss==0.3
tornado==4.0.2
tox==1.7.2
Unidecode==0.04.16
unpyclib==0.8.1
urwid==1.2.1
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
watchdog==0.8.2
WeasyPrint==0.23
web.py==0.37
Werkzeug==0.9.6
wsgiref==0.1.2
xhtml2pdf==0.0.6
