{% extends 'home/base.html' %}

{% block content %}
    <h3>Welcome, {{ user | title }}</h3>
    {% if user_timezone %}
        Your time zone is <span class="text-primary"> {{ user_timezone }} </span>
    {% else %}
        <p>You have not set your time zone.</p>
        <p>Please Set your time zone</p> 
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Timezone</label>
        <select name="timezone" class="form-control">
            {% for tz in timezones %}
                <option value="{{ tz }}" {% if tz == TIME_ZONE %} selected="selected" {% endif %} class="form-control">
                    {{ tz }}
                </option>
            {% endfor %}
        </select>
        <p></p>
        <button type="submit" class="btn btn-primary">Update Preferences</button>
    </form>

{% endblock content %}
