{% extends "home/base.html" %}
{% load bootstrap %}

{% block title %}Password reset{% endblock %}

{% block content %}

{% if validlink %}

<h2>Reset Your Password</h2>

<p>Please enter your new password</p>

<form action="" method="post">
    {% csrf_token %}
    {{ form.new_password1.errors }}
    <p class="aligned wide">
         {{ form.new_password1 | bootstrap }}
    </p>

    {{ form.new_password2.errors }}
    <p class="aligned wide">
         {{ form.new_password2 | bootstrap }}
    </p>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>

{% else %}

<h1>Password reset unsuccessful</h1>
<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}
