{% extends "home/base.html" %}
{% load bootstrap %}
{% load bootstrap3 %}

{% block js_files %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}


{% block title %}Sign up{% endblock %}

{% block content %}
  <form action="" method="post" class="form">
    {% csrf_token %}
    {{form|bootstrap}}

    <div class="g-recaptcha" data-sitekey="6LdXoAITAAAAAAniBwAnUMHudBTYwA-p7acuNuCa"></div>
    <div id="captcha-status"></div>

    {% buttons %}
     <button class="btn btn-primary" type="submit">
      Submit
    </button>
    {% endbuttons %}
  </form>


{% endblock %}


{% block css %}

  <style type="text/css">

   label.control-label:after {
     content: ": ";
   }

   .g-recaptcha {
     width: 250px;
   }

  </style>
{% endblock %}


{% block js %}
  <script type="text/javascript">

   $('label').append('* ');
   $('.g-recaptcha').insertAfter('label[for=id_captcha]');

  </script>

{% endblock %}
