{% extends 'home/base.html' %}
{% load staticfiles %}

{% block static_files %}
    <script src="{% static 'pearl/js/jquery.dataTables.min.js' %}"></script>
{% endblock static_files %}

{% block content %}

<button type="submit"><a href="/project/new/">Start New Project</a></button>

<div>
    <table id="projects">
        <thead>
            <th> Name </th>     
            <th> Status </th>
            <th> Updated At </th> 
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td> {{ project.name }} </td>
                <td>
                    {% for stat in status_options %}
                        {% if stat.0 == project.status %}
                            <a href="{% url 'project:project_qcreport' project.id %}">{{ stat.1 }}</a>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if user_timezone %}
                        {% load tz %}
                        {% timezone user_timezone %}
                            {{ project.updated_at }}
                        {% endtimezone %}
                    {% else %}
                        {{ project.updated_at }}
                    {% endif %}
                </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

{% block js %}
(function(){
    $('#projects').dataTable();
    $('div#projects_length').hide();
})();

// java script 
(function ($) {
$.fn.localTimeFromUTC = function (format) {

return this.each(function () {

// get time offset from browser
var currentDate = new Date();
var offset = -(currentDate.getTimezoneOffset() / 60);

// get provided date
var tagText = $(this).html();
var givenDate = new Date(tagText);

// apply offset
var hours = givenDate.getHours();
hours += offset;
givenDate.setHours(hours);

// format the date
var localDateString = $.format.date(givenDate, format);
$(this).html(localDateString);
});
};
})(jQuery);
{% endblock js %}
