{% extends 'home/base.html' %}

{% block title %}
    Review Quality 
{% endblock title %}

{% block content %} 
    <div id="content">
        <h3>Quality Control Report(s).</h3>
        {% for link in links  %}
        <p><a href="{{ link }}"> {{ link }}  </a></p>
        {% endfor %}

        <h3>Processing</h3>
        {% if project.start_processing %}
            <p>Your files were queued for processing.</p>
        {% else %}
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        {% endif %}
    </div>
{% endblock content %}
