{% extends 'home/base.html' %}

{% block title %}
    Review Quality 
{% endblock title %}

{% block content %} 
    <div id="content">
        <h3>Quality Control Report(s).</h3>
        {{ project_id }}
        {% for link in links  %}
        <p><a href="{% url 'project:project_qcdetails' 12 'asdf'  %}">
            {% url 'project:project_qcdetails' 12 'asdf'  %}
        </a></p>
        {% endfor %}

        <h3>Processing</h3>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock content %}
