{% extends 'home/base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'pearl/css/jquery-ui.min.css' %}" />
{% endblock css_files %}

{% block js_files %}
    <script src="{% static 'pearl/js/jquery-ui.min.js' %}"></script> 
{% endblock js_files %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div id="{{ field.name }}" class="form-group">
                {{ field.errors }}
                {{ field | bootstrap }}
            </div>
        {% endfor %} 
        <input type=submit class="btn btn-primary btn-large" /> 
    </form>
{% endblock content %}

{% block css %}
.radio {
    display: inline-block;  
}

#total_fastq_files,
#fastq_file1,
#fastq_file2,
#paired_end_distance,
#vcf_file1 {
    display: none; 
}
{% endblock css %}

{% block js %}

(function(){
    $('input:radio').click(function() {
        var value = $(this).val();
        if (value == 'fastq'){
            $('div#total_fastq_files').show();
            $('div#vcf_file1').hide();
        } else if (value == 'vcf'){
            $('div#total_fastq_files').hide();
            $('div#vcf_file1').show();
        }
    });

    $("input:radio").click(function() {
        var value = $(this).val();
            if (value == 1){
                $('div#fastq_file1').show();
                $('div#fastq_file2').hide();
                $('div#paired_end_distance').hide();
            } else if (value == 2){
                $('div#fastq_file1').show();
                $('div#fastq_file2').show();
                $('div#paired_end_distance').show();
            }
    });

    $('input#id_tissue').keyup(function() {
        query = $('input#id_tissue').val(); 
        ajax_url = "http://127.0.0.1:8000/project/api/tissues/" + query
        $('input#id_tissue').autocomplete({
            source: ajax_url 
        });
    });

    $('#id_disease').keyup(function() {
        query = $('#id_disease').val();
        ajax_url = "http://127.0.0.1:8000/project/api/diseases/" + query
        $('#id_disease').autocomplete({
            source: ajax_url
        });
    });

})(); 

{% endblock %}


