{% extends 'home/base.html' %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}
    Review Quality 
{% endblock title %}

{% block js_files %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock js_files %}

{% block content %} 
    <div id="content">
        <h3>Quality Control Report(s).</h3>
        {{ project }}
        {{ project.status }}
        {% if project.status >= 2 %}
            <h3>Processing</h3>
            {% if project.start_processing %}
                <p>Your files were queued for processing.</p>
            {% else %}
                 <form method="POST" action=''>
                    {% csrf_token %}
                    {{ form | bootstrap }}
                    <button type="submit" class="btn btn-primary"> Submit </button>
                </form>
            {% endif %}
        {% endif %}
    </div>

    <div id='chart'>
      {{ chart.as_html }}
    </div>
  
{% endblock content %}

{% block js %}
(function(){
    $('.radio').css('display', 'inline-block');
})();

    // to load graphos chart
    google.load("visualization", "1", {packages:["corechart"]});

{% endblock js %}
