{% extends 'home/base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% load chartkick %}
{% block title %}
    Review Quality 
{% endblock title %}

{% block js_files %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="http://ankane.github.io/chartkick/chartkick.js"></script>
{% endblock js_files %}

{% block content %} 
    <div id="content">
        <h3>QC Summary</h3>
        <p>Overall Quality: </p>
        {% if project.status >= 2 %}
            {% if project.start_processing %}
                <p>Your files were queued for processing.</p>
            {% else %}
                 <form method="POST" action=''>
                    {% csrf_token %}
                    {{ form | bootstrap }}
                    <button type="submit" class="btn btn-primary"> Submit </button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <h3> Detailed QC Report<h3>
    <div id='chart'>
      {% pie_chart browser_stats with library={"title":"Browser Statistics, May 2013"} %}
    </div>
  
{% endblock content %}

{% block js %}
(function(){
    $('.radio').css('display', 'inline-block');
})();

{% endblock js %}

