{% extends 'home/base.html' %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %} Review Quality {% endblock title %}


{% block content %}

{% if project.status == 5 %}
  <h4>Uploading files. Please wait...</h4>

{% elif project.status == -6 %}
  <h4>Unable to upload files </h4>

{% elif project.status == -7 %}
  <h4>Failed at unicode check...</h4>

{% elif project.status == -11 %}
  <h4>Error at quality check...</h4>

{% elif project.status == 20 %}
  {% if project.file_type == 'fastq' %}
    {% include 'project/2.html' %}
  {% endif %}
  <h4>Processing files</h4>

{% elif project.status == -21 %}
  {% if project.file_type == 'fastq' %}
    {% include 'project/2.html' %}
  {% endif %}
  <h4>Unable to process files.</h4>

{% elif project.status == 22 %}
  {% if project.file_type == 'fastq' %}
    {% include 'project/2.html' %}
  {% endif %}
  <h4>Processing Validation.</h4>

{% elif project.status == 25 %}
  <h3>Report</h3>
  <a href="{{ csv_link }}">Download Variant Annotation File.</a><br />
  {% if project.file_type == 'fastq' %}
    <a href="{{ vcf_link }}">Download Variant Calling File.</a><br />
    {% include 'project/2.html' %}
  {% endif %}

{% endif %}

{% endblock %}


{% block js %}
<script>
  (function(){
    $('.radio').css('display', 'inline-block');
  })();
</script>
{% endblock js %}
