@charset "utf-8";

/* Standar Styles */
body{
	font-size: 14px;	
	line-height:14px;
	background-color: #fff;
	color: #6e7982;
	font-family: 'Open Sans', sans-serif;
}
a{
	color: #6e7982;
	text-decoration: none;	
}
a:hover{
	text-decoration: none;	
}
p{
	font-size: 14px;
	line-height: 14px;
}
h1 {font-size:24px;}
h2 {font-size:22px;}
h3 {font-size:18px;}
h4 {font-size:16px;}
h5 {font-size:14px;}
h6 {font-size:12px;}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 30px;
}


/* Pearl CSS */
.container {
    width: 800px;
    margin: auto;
}
.horizontal-bar {
	float: left;
    width: 33%
}


div#links {
   float: right;
   margin: 12px 0 12px 0;
   width: 60%
} 

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: bold;
    font-size: 16px;
    margin-right: 8%;
    display: inline-block;
}

ul#menu li {
    display: inline;
    margin-left: 40px;

}

  
/* for development purpose 
div {
    border: 1px solid;
}
*/
div#nav-bar {
    height: 50px;
    box-shadow: 10 10 5 #cccccc;
}
/* upto here */


