{% load staticfiles %}

<html>
    <head>
        <title>Pearl </title>

        <link rel="stylesheet" type="text/css" href="{% static "pearl/style.css" %}" />
    </head>

    <body>
        <div class="container">
            <div id="nav-bar">
                <div id="logo" class="horizontal-bar"> 
                    <a href="http://www.leucinerichbio.com"><img src="{% static "pearl/logo.png" %}" alt="logo"/></a> 
                </div>
                <div id="links" class="horizontal-bar">
                    <ul id="menu">
                        <li><a href="/">Pearl</a></li>
                        <li><a href="/faq/">FAQ</a></li>

                        {% if user.is_authenticated %}
                        <li><a href="/accounts/profile/">My Profile</a></li>
                        <li><a href="/accounts/logout/">Sign Out</a></li>
                        {% else %}
                        <li><a href="/accounts/signup/">Sign Up</a></li>
                        <li><a href="/accounts/login/">Sign In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            {% block content %}
            {% endblock %}
     
        </div>

    </body>
</html>

