{% load staticfiles %}

<html>
    <head>
        <title>Pearl </title>

        <link rel="stylesheet" type="text/css" href="{% static "pearl/style.css" %}" />
    </head>

    <body>
        <div id="nav-bar">
            <div id="logo" class="horizontal-bar"> 
                <a href="http://www.leucinerichbio.com"><img src="{% static "pearl/logo.png" %}" alt="logo"/></a> 
            </div>
            <div id="pearl" class="horizontal-bar">
                <h1>Pearl</h1>
            </div>
            <div id="links" class="horizontal-bar">
                <ul id="menu">
                    <li><a href="/FAQ/">FAQ</a></li>
                    <li><a href="/SignUp/">Sign Up</a></li>
                    <li><a href="/SignIn/">Sign In</a></li>
                </ul>
            </div>
    </div>

        {% block content %}
        {% endblock %}
     
    </body>
</html>



