{% extends 'base.html' %}

{% block content %}

<div id="faq">

    <b><p>Q: How do I allow people to?</p></b>
    <p>A: Identification of Single Nucleotide Variations </p>
    <b><p>Q: How do I allow people to?</p></b>
    <p>A: Identification of Single Nucleotide Variations </p>
    <b><p>Q: How do I allow people to?</p></b>
    <p>A: Identification of Single Nucleotide Variations </p>
    <b><p>Q: How do I allow people to?</p></b>
    <p>A: Identification of Single Nucleotide Variations </p>
    <b><p>Q: How do I allow people to?</p></b>
    <p>A: Identification of Single Nucleotide Variations </p>
    <b><p>Q: How do I allow people to?</p></b>
    <p>A: Identification of Single Nucleotide Variations </p>
    <b><p>Q: How do I allow people to?</p></b>
    <p>A: Identification of Single Nucleotide Variations </p>

</div>


{% endblock content %}

